@using System.Diagnostics.Eventing.Reader
@model IEnumerable<PLnew.Models.RecordViewModel>


<div id="searchresults">
    @*@if (Model.Count()!=0)
    {*@
        @foreach (var item in Model)
{
            <div class="modal fade" id=@item.Id>
            <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
              @using (Html.BeginForm("EditRecord", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
                    <div class="form-group ">
                        @Html.Hidden("IdRecord", @item.Id)
                        <div class="col-md-12 textArea">
                            @Html.TextArea("text", @item.Record, new { @id = "name", @class = "form-control", @placeholder = "What's happening ?" })
                        </div>
                        <div class="col-md-12 textArea">
                            @Html.TextBox("theme", @item.Theme, new { @id = "theme", @class = "form-control", @placeholder = "Theme?" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default" id="res"> Edit</button>
                        </div>

                    </div>
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
   
        <div class="col-md-3 textArea">
            <div class="form-group">
                <div class="comment">
                    @item.Theme
                </div>
            </div>
        </div>

    <div class="col-md-9 textArea">
        <div class="form-group">
            <div class="comment">
                @item.Record
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="helpInfo">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" glyphicon glyphicon-list" style="font-size: 20px;"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("DeleteRecord", "Account", new {id = item.Id})" class="glyphicon glyphicon-trash"> Delete </a></li>
                            <li><a class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#@item.Id"> Edit</a></li>

                            @*<li><a href="@Url.Action("EditRecord", "Account", item)" class="glyphicon glyphicon-pencil"> Edit</a></li>*@
                        </ul>
                        @*<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-1"></button>*@
                    </div>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-6">
                    <div class="helpInfo ">
                        <div class="date  ">
                            @item.DateOfPublication
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
}
    
    @*}*@
    @*@if (Model.Count() == null)
    {
        <div class="col-md-12 textArea">
            <div class="form-group">
                <div class="comment">
                    <p>Your timeline is currently empty. Follow people and topics you find interesting to see their records in your timeline.</p>
                </div>
            </div>
        </div>
    }*@

</div>
