@model IEnumerable<PLnew.ViewModels.ThemeViewModel>
@{
    ViewBag.Title = "Thems";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/IndexAccountStyle.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div align="center" class="navbar-collapse collapse">
        <h2>All Thems</h2>
        @using (Html.BeginForm("SearchTheme", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        <div class="form-group ">
            <div class="col-md-12 textArea">
                @Html.TextBox("theme", "", new { @id = "person", @class = "form-control", @placeholder = "Search theme" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-default" id="res"> Search</button>
            </div>

        </div>
        }

    </div>
    @if (Model != null)
    {
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-4 col-sm-3 col-lg-2">
                    <div class="thumbnail box">
                        <div class="caption">
                            <h3>
                                <a href="#">@item.TitleOfTheme</a>
                            </h3><span class="badge">@item.Count</span>
                            @if (Convert.ToInt32(Session["idRole"]) == 2)
                            {
                                <a href="@Url.Action("DeleteTheme", "Account", new {id = item.Id})" class="glyphicon glyphicon-trash"> Delete </a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    </body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript"
            src="@Url.Content("~/scripts/AjaxDemo.js")">
    </script>
}
@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</html>
