<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@RenderBody()
<div class=" navbar navbar-inverse navbar-static-top">
    <nav class="navbar-inner">
        <a class="brand">Name Progect</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li> <a href="#">Page</a>
            <li> <a href="#">Page</a>
            <li> <a href="#">Page</a>
            <li> <a href="#">Page</a>
            <li> <a href="#">Page</a>
        </ul>

    </nav>
</div>

        <script src="~/Scripts/bootstrap.js"> </script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
@RenderSection("Scripts", required: false)
        </body>
        </html>
